.comments-container{
    margin-top: 70px;
    font-family: "Open Sans", sans-serif;
}

.sml-heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 47px;
  line-height: 47px;
  margin-bottom: 10px;
  position: relative;
}

.sml-heading::before {
  content: "";
  position: absolute;
  bottom: -30px; /* Adjust based on spacing */
  left: 102px;
  transform: translateX(-50%);
  width: 200px; /* Length of the underline */
  height: 5px; /* Thickness of the underline */
  background: #dae912; /* Pink to Blue gradient */
}


.input-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}

.input-container i {
  font-size: 18px;
  margin-right: 8px;
  color: #888;
  transition: color 0.3s ease-in-out;
}

.label-color{
  color: #656565;
}

.input-container input,.input-container textarea {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  background: transparent;
}

.input-container textarea{
  resize: none;
  height: 10vh;
}

.input-container:hover{
  border-color: #555;

}
/* Focus effect */
.input-container:focus-within {
  border-color: #555;
}

.input-container:focus-within i {
  color: #555;
}

.input-container input::placeholder,
.input-container textarea::placeholder {
    color: #4e4e4e; /* Light grey */
    font-size: 16px;
}


.submit-btn {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: #afd639;
  padding: 17px 50px;
  color: white;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 30px;
  height: 22px;
  border: 1px solid #333;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "●"; /* Unicode dot character */
  font-size: 20px;
  color: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -58%);
}