.heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.sub-heading{
  color: #0f0f0f;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-heading2{
  color: #0f0f0f;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-heading-sm{
  color: #0f0f0f;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.green-highlight{
  color: #afd639;
}

.sm-text{
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #808080;
  font-weight: 100;
}

.nrm-text{
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #808080;
  font-weight: 100;
}

.passage {
  color: #656565;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  font-family: "Open Sans", sans-serif;
}

.bold-text{
  font-weight: 700;
}

.object-fit-covered{
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .heading {
    font-size: 25px;
    line-height: 30px;
  }
}