.price {
  color: #afd639;
  font-size: 28px;
  font-weight: 800;
  font-family: "DM Sans", sans-serif;
}

.passage-sm {
  color: #656565;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.inquire-button {
  background-color: #5cb85c;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  padding: 7px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}

.inquire-button:hover {
  background-color: #4cae4c;
}

.image-grid {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: top;
}

.pricing-btn {
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  background-color: #afd639;
  padding: 17px 50px;
  color: white;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
}

